<!DOCTYPE html>
  <html>
    <head>
      <link type="text/css" rel="stylesheet" href="/assets/min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <%- include('/views/style'); -%>
    </head>

    <body>
      <%- include('/views/nav'); -%>

      <form method="POST" action="/units/save">
        <h1>
          Services
        </h1>
        <%- include('/views/units', {edit: false, units: units, hex: hex }); -%> 

      </form>
      <%- include('/views/footer'); -%>

    </body>
    <%- include('/views/scripts'); -%>
  </html>