<table>
  <thead>
    <tr>
      <%- (edit) ? "<th>Homekit</th><th>Used</th>" : "" %>
      <th>Name</th>
      <%- (edit) ? "<th>Display</th>" : "" %>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
  
  <% for (let unit of units) { %>
    <tr>
      <% if (edit) { %>
        <td class="center">
          <label>
            <input name="active_<%= unit.logicalAddress %>" type="checkbox" 
                   class="filled-in" onclick="active(this, <%= unit.logicalAddress %>)"
                   id="active_<%= unit.logicalAddress %>"  value="Y"
                   <%= (unit.active) ? 'checked' : '' %> />
            <span></span>
          </label>
        </td><td><label>
            <input name="used_<%= unit.logicalAddress %>" type="checkbox" 
                   class="filled-in" 
                   id="used_<%= unit.logicalAddress %>"  value="Y"
                   <%= (unit.used) ? 'checked' : '' %> />
            <span></span>
        </label></td>
      <% } %>
      <td>
        <% if (edit) { %>
          <span><%= unit.getName() %></span>
        <% } else { %>
          <span class="<%= unit.active ? '':'used' %>"><%= unit.getDisplayName() %></span>
        <% } %>

        <br><span class="grey-text"><small><%= unit.typeName() %>
          (<%= hex(unit.node.logicalAddress) %>;<%= hex(unit.logicalAddress) %>) on 
           <% if (!edit) { %><a href="http://<%= req.headers.host %>/units/<%= unit.node.master.getAddress() %>:<%= unit.node.master.getPort() %>/<%= unit.node.logicalAddress %>"><%= unit.node.getName() %></a><% } else { %><%= unit.node.getName() %><% } %>
        </small></span>
        <input type="hidden" name="units" value="<%= unit.getName() %>">
      </td>
      <% if (edit) { %>
        <td><label>
            <input name="name_<%= unit.logicalAddress %>" type="input" size="28"
                   id="name_<%= unit.logicalAddress %>" value="<%= unit.getDisplayName() %>"/>
            <span></span>
        </label>
        <% if (unit.type == 2) { %>
          <select name="extended_<%= unit.logicalAddress %>" id="extended_<%= unit.logicalAddress %>">
            <option value="2" <%= (unit.extendedType == '2') ? 'selected' : '' %>>Switch</option>
            <option value="203" <%= (unit.extendedType == '203') ? 'selected' : '' %>>Lock</option>
            <option value="101" <%= (unit.extendedType == '101') ? 'selected' : '' %>>Lightbulb</option>
          </select>
          <label for="type">Type</label>
        <% } %>
        <% if (unit.type == 8) { %>
          <select name="extended_<%= unit.logicalAddress %>" id="extended_<%= unit.logicalAddress %>">
            <option value="8" <%= (unit.extendedType == '8') ? 'selected' : '' %>>Switch motor</option>
            <option value="201" <%= (unit.extendedType == '201') ? 'selected' : '' %>>Garagedoor</option>
            <option value="202" <%= (unit.extendedType == '202') ? 'selected' : '' %>>Door</option>
          </select>
          <label for="type">Type</label>
        <% } %>
        <% if (unit.type == 7) { %>
          <select name="extended_<%= unit.logicalAddress %>" id="extended_<%= unit.logicalAddress %>">
            <option value="7" <%= (unit.extendedType == '7') ? 'selected' : '' %>>Mood</option>
            <option value="204" <%= (unit.extendedType == '204') ? 'selected' : '' %>>Unlocker</option>
            <option value="102" <%= (unit.extendedType == '102') ? 'selected' : '' %>>Condition</option>
          </select>
          <label for="type">Type</label>
        <% } %>

        </td>
      <% } %>
      <td>
        <% if ((unit.type == 1) || (unit.type == 2) || (unit.type == 101)) { %>
          <div class="switch">
            <label>Off
              <input name="status_<%= unit.getName() %>" <%= (unit.status) ? 'checked' : '' %>
                     type="checkbox" onchange="setStatus(this.checked, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)">
              <span class="lever"></span>On
            </label>
          </div>
          <% if (unit.type == 1) { %>
            <p class="range-field">
              <input type="range" name="status_<%= unit.getName() %>" min="1" max="99" value="<%= unit.value %>" 
                     onchange="setStatus(this.value, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)" />
            </p>
          <% } %>

        <% } else if ((unit.type == 7) || (unit.type == 3)) { %>
          <div>
            <a class="btn-floating btn-small waves-effect waves-light" onclick="press(-1, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)"><i class="material-icons">adjust</i></a>
          </div>

        <% } else if ((unit.type == 8) || (unit.type == 102)) { %>
          <%= unit.getDispayState() %><br>
          <div>
            <a class="btn-floating btn-small waves-effect waves-light" onclick="press(5, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)"><i class="material-icons">arrow_downward</i></a>
            <a class="btn-floating btn-small waves-effect waves-light" onclick="press(3, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)"><i class="material-icons">stop</i></a>
            <a class="btn-floating btn-small waves-effect waves-light" onclick="press(4, '<%= unit.node.master.getAddress() %>', <%= unit.node.master.getPort() %>, <%= unit.node.logicalAddress %>, <%= unit.logicalAddress %>)"><i class="material-icons">arrow_upward</i></a>
          </div>

        <% } else { %>
          <span><%= unit.getDispayState() %>
        <% } %>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>

<script>
  function active(checkbox, adr) {
    if (checkbox.checked) {
      document.getElementById("used_"+adr).checked = true;
    }
  }
  function setStatus(state, master, port, node, unit) {
    if (typeof state === "boolean") state = (state) ? 1 : 0;
    console.log("http://<%= req.headers.host %>/units/set?master="+master+"&port="+port+"&node="+node+"&unit="+unit+"&value="+state);
    ajax("http://<%= req.headers.host %>/units/set?master="+master+"&port="+port+"&node="+node+"&unit="+unit+"&value="+state, function(data){ 
    });
  }
  function press(state, master, port, node, unit) {
    if (typeof state === "boolean") state = (state) ? 1 : 0;
    ajax("http://<%= req.headers.host %>/units/press?master="+master+"&port="+port+"&node="+node+"&unit="+unit+"&value="+state, function(data){ 
    });
  }
</script>
